# Sensitive and Database files
.env
*.json
!package.json
!composer.json
!slots.json
!bot_config.json

# Python
__pycache__/
*.pyc

# IDEs and Editors
.idea/
.vscode/
*.iml
*.iws

# Android / Build
**/build/
**/.gradle/
**/local.properties
**/GeneratedInjector.java
**/Dagger*.java
*.apk

# Miscellaneous
TEST/
GreedyTestApp/
WEBSITE_APP/
*.log
node_modules/
dist/
.DS_Store
AndroidEPS/
